{% extends 'mailing/base.html' %}

{% block title %}Удаление рассылки{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm border-danger">
  <h3 class="text-danger">Подтверждение удаления рассылки</h3>
  <p>
    Вы действительно хотите удалить рассылку №{{ object.id }}?
    Это удалит и все попытки отправки, связанные с ней. Действие необратимо.
  </p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Да, удалить</button>
    <a href="{% url 'mailing:messenger_detail' pk=object.pk %}" class="btn btn-secondary">Отмена</a>
  </form>
</div>
{% endblock %}
