{% extends 'mailing/base.html' %}
{% block content %}
<h2>Смена пароля</h2>
{% if validlink %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Установить новый пароль</button>
  </form>

  {% if form.errors %}
    <div style="color:red; margin-top:1em;">
      <p>Есть ошибки в заполнении:</p>
      {{ form.errors }}
    </div>
  {% endif %}
{% else %}
  <p>Ссылка недействительна или истекла. <a href="{% url 'users:password_reset' %}">Запросить новую</a></p>
{% endif %}
{% endblock %}

